<div class="modal fade" id="give-ppe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: 700">How to give PPE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 14px; padding: 20px 40px">
        <div style="font-weight: 600; font-size: 16px; margin-bottom: 10px">If you'd like to donate PPE in your possession:</div>
        <div style="">
          <ul>
            <li>Look on the map for facilities near you with PPE needs.</li>
            <li>Click on marker to get more information on where to drop off.</li>
            <li>Tweet at <a href="https://twitter.com/donatesupplies" target="_new">@DonateSupplies</a> (and we'll retweet)</li>
            <li>Or drop us an email (with optional photos) at <a href="mailto:donate.supplies.2020@gmail.com">donate.supplies.2020@gmail.com</a></li>
          </ul>
        </div>
        <div style="font-weight: 600; font-size: 16px; margin-bottom: 10px">If you'd like to buy PPE for healthcare facilities:</div>
        <div style="">
          <ul>
            <li>Visit <a href="https://instant.supplies/" target="_new">instant.supplies</a></li>
            <li>When you purchase PPE there, we will fulfill the order and tweet the proof-of-delivery or thank you note from the recipient.</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>